## Pré-processamento de Dados
Fase de limpeza e tratamento de dados, para torna-los utilizáveis.

### Importação de bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

### Importação dos dados
Já que os conjuntos de dados (Datasets) contém bastante dados, vou usar apenas um deles para auxiliar no tratamento e na limpeza, e depois será replicados no outros conjuntos. Assim reduzindo o custo computacional.

In [2]:
path = "Dados_SUS/CSV_FILE" #Caminho da pasta
# print(os.listdir(path)) #Comando para ver os arquivos na pasta

In [3]:
file = f"{path}/DOEXT19.csv"
df_geral = pd.read_csv(file,encoding='latin-1')
display(df_geral.head(10))
#print(df_geral.columns.to_list()) #Ver todas as colunas do dataset

C:\Users\Jnpx_\AppData\Local\Temp\ipykernel_464\2634965645.py:2: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df_geral = pd.read_csv(file,encoding='latin-1')

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,25012019,15.0,842.0,421220.0,10121978.0,440,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
1,1,2,25012019,545.0,842.0,420460.0,11121993.0,425,2,1.0,...,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,12
2,1,2,25012019,2100.0,842.0,420460.0,7111942.0,476,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
3,1,2,27012019,1922.0,843.0,431340.0,3041995.0,423,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4,1,2,28012019,1130.0,842.0,421900.0,12111955.0,463,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
5,1,2,11022019,1630.0,850.0,500345.0,30121971.0,447,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
6,1,2,24012019,2245.0,823.0,231400.0,5021942.0,476,2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
7,1,2,21012019,1330.0,823.0,230840.0,21061951.0,467,1,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36
8,1,2,8022019,1252.0,835.0,352400.0,8101959.0,459,1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59
9,1,2,11022019,1820.0,826.0,260190.0,16061939.0,479,2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60

### Tramento de dados

Para não ser custoso computacionalmente, a seleção visa a redução da quantidade de colunas.

In [41]:
colunas_selecionadas = ['DTNASC','DTOBITO','IDADE',
                        'SEXO','RACACOR','ESTCIV','ESC',
                        'ESC2010','OCUP','CIRCOBITO','CODMUNRES']

In [42]:
df_geral = pd.read_csv(file,encoding='latin-1',usecols=colunas_selecionadas) 
df_geral.head(10)

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,OCUP,CODMUNRES,CIRCOBITO
0,25012019,10121978.0,440,1,1.0,1.0,3.0,1.0,512105.0,421160,2.0
1,25012019,11121993.0,425,2,1.0,5.0,4.0,3.0,414210.0,420700,1.0
2,25012019,7111942.0,476,1,1.0,2.0,3.0,1.0,631105.0,422000,1.0
3,27012019,3041995.0,423,1,1.0,1.0,3.0,2.0,999992.0,420700,1.0
4,28012019,12111955.0,463,1,1.0,2.0,3.0,1.0,711130.0,421900,1.0
5,11022019,30121971.0,447,1,4.0,2.0,4.0,2.0,783105.0,500320,1.0
6,24012019,5021942.0,476,2,4.0,3.0,1.0,0.0,NaN,231400,1.0
7,21012019,21061951.0,467,1,4.0,2.0,3.0,2.0,612005.0,230840,1.0
8,8022019,8101959.0,459,1,3.0,9.0,9.0,9.0,998999.0,352050,9.0
9,11022019,16061939.0,479,2,1.0,9.0,9.0,9.0,999993.0,352050,2.0

Selecionando apenas casos de suicídios, sabendo que o codigo para os casos é 2.

In [43]:
df_s = df_geral.loc[(df_geral['CIRCOBITO'])==2]
display(df_s.head())

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,OCUP,CODMUNRES,CIRCOBITO
0,25012019,10121978.0,440,1,1.0,1.0,3.0,1.0,512105.0,421160,2.0
9,11022019,16061939.0,479,2,1.0,9.0,9.0,9.0,999993.0,352050,2.0
16,25012019,23101995.0,423,2,4.0,1.0,2.0,1.0,NaN,150618,2.0
48,21012019,7051980.0,438,1,2.0,1.0,1.0,0.0,517420.0,311340,2.0
56,1012019,27011979.0,439,1,1.0,5.0,4.0,3.0,411005.0,355030,2.0

In [44]:
idade_indefinida = df_s.loc[(df_s['IDADE'])==999] #Pesquisa por idade indefinida
display(idade_indefinida)

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,OCUP,CODMUNRES,CIRCOBITO
1002,21012019,NaN,999,1,1.0,NaN,NaN,NaN,NaN,354220,2.0
2181,24032019,NaN,999,1,4.0,9.0,9.0,9.0,NaN,330000,2.0
35746,19042019,NaN,999,1,4.0,NaN,NaN,NaN,NaN,150442,2.0
49269,26042019,NaN,999,1,1.0,NaN,NaN,NaN,NaN,350000,2.0
53130,3052019,NaN,999,1,4.0,NaN,NaN,NaN,NaN,520170,2.0
62484,12062019,NaN,999,1,1.0,9.0,9.0,9.0,NaN,355030,2.0
80083,19032019,NaN,999,1,1.0,9.0,NaN,NaN,NaN,353070,2.0
89941,13122019,NaN,999,1,1.0,NaN,NaN,NaN,998999.0,350000,2.0
109713,27122019,NaN,999,1,4.0,9.0,9.0,9.0,NaN,500830,2.0
110616,4042019,NaN,999,1,1.0,9.0,9.0,9.0,998999.0,410000,2.0
126121,7032019,NaN,999,1,2.0,9.0,9.0,9.0,NaN,317020,2.0

In [45]:
df_s.drop(index=idade_indefinida.index,inplace=True) #Drop idade indefinida

In [46]:
linha_auxiliar = df_s.loc[0]

In [47]:
pd.options.mode.copy_on_write = True
def ajustar_idade(linha):
    if(linha['IDADE']) > 400:
        linha['IDADE'] = linha['IDADE'] - 400
    return linha

In [48]:
df_s = df_s.apply(lambda x:ajustar_idade(x),axis=1)

In [49]:
df_s[df_s['IDADE']<=6]

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,OCUP,CODMUNRES,CIRCOBITO
27174,19032019.0,23022014.0,5.0,2.0,4.0,NaN,NaN,NaN,NaN,160030.0,2.0

In [50]:
df_s.drop(df_s[df_s['IDADE']<=6].index,inplace=True)

In [51]:
df_s.drop(columns='DTNASC',inplace=True)
df_s.drop(columns='CIRCOBITO',inplace=True)

In [52]:
df_s['OCUP'] = df_s['OCUP'].fillna(998999)
df_s.fillna(0,inplace=True)

In [53]:
df_s = df_s[:].astype('int64')

In [54]:
# plt.hist(df_s['IDADE'],bins=89)
# print(np.histogram(df_s['IDADE'],bins=89))
# plt.show()

In [55]:
linha_auxiliar = df_s.loc[0]
print(linha_auxiliar)

DTOBITO      25012019
IDADE              40
SEXO                1
RACACOR             1
ESTCIV              1
ESC                 3
ESC2010             1
OCUP           512105
CODMUNRES      421160
Name: 0, dtype: int64

In [56]:
df_s['CODMUNRES'].value_counts()

330455    212
355030    205
530010    196
310620    161
431490    128
         ...
221030      1
313090      1
260005      1
354300      1
421380      1
Name: CODMUNRES, Length: 3275, dtype: int64

In [57]:
df_municipios = pd.read_csv('Dados_SUS/CODMUN/RELATORIO_DTB_BRASIL_MUNICIPIO.csv',
                usecols=['UF','Nome_UF','Código Município Completo','Nome_Município'],
                delimiter=',')
df_municipios.rename({'Código Município Completo':'CODMUNRES'},axis='columns',inplace=True)

In [58]:
linha_auxiliar_municipios = df_municipios.loc[0]

In [59]:
def remover_ultimo_digito(linha):
    linha_str = str(linha['CODMUNRES'])
    if len(linha_str) == 7:
        linha['CODMUNRES'] = int(linha_str[:6])
    return linha

In [60]:
df_municipios = df_municipios.apply(lambda x:remover_ultimo_digito(x),axis=1)

In [61]:
df_merged = pd.merge(df_s,df_municipios,how='left',on='CODMUNRES')

In [62]:
df_merged.dropna(inplace=True)

In [63]:
coluna_municipios = df_merged['Nome_Município']

In [64]:
df_merged.drop(columns='Nome_Município',inplace=True)

In [65]:
df_merged['UF'] = df_merged['UF'].astype('int64')

In [66]:
display(df_merged)
display(coluna_municipios)

,DTOBITO,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,OCUP,CODMUNRES,UF,Nome_UF
0,25012019,40,1,1,1,3,1,512105,421160,42,Santa Catarina
1,11022019,79,2,1,9,9,9,999993,352050,35,São Paulo
2,25012019,23,2,4,1,2,1,998999,150618,15,Pará
3,21012019,38,1,2,1,1,0,517420,311340,31,Minas Gerais
4,1012019,39,1,1,5,4,3,411005,355030,35,São Paulo
...,...,...,...,...,...,...,...,...,...,...,...
12992,16032019,25,1,5,0,4,3,998999,130370,13,Amazonas
12993,19052019,14,2,5,0,3,2,998999,130370,13,Amazonas
12994,25082019,20,1,5,0,9,9,998999,130406,13,Amazonas
12995,23052019,20,1,5,0,4,3,998999,130406,13,Amazonas
12996,14092019,14,2,5,0,9,9,998999,130406,13,Amazonas

0                 Nova Veneza
1                  Indaiatuba
2              Rondon do Pará
3                   Caratinga
4                   São Paulo
                 ...
12992    Santo Antônio do Içá
12993    Santo Antônio do Içá
12994               Tabatinga
12995               Tabatinga
12996               Tabatinga
Name: Nome_Município, Length: 12981, dtype: object

In [67]:
y=df_merged['Nome_UF'].value_counts().values
x=df_merged['Nome_UF'].value_counts().keys()

In [68]:
# plt.bar(x,y)
# plt.title('Casos por Estado')
# plt.xlabel('Estados')
# plt.ylabel('Quantidades de Ocorrências')
# plt.xticks(rotation=90)
# plt.show()

In [69]:
df_merged['DTOBITO'] = df_merged['DTOBITO'].astype('str')

In [70]:
linha_aulixiar_tempo = df_merged['DTOBITO'][0]

In [71]:
def separar_tempo(linha):
    if len(linha) < 8:
        linha = '0'+linha
    dia = linha[0:2]
    mes = linha[2:4]
    ano = linha[4:8]
    return [dia,mes,ano]

In [72]:
x = list(map(lambda x:separar_tempo(x),df_merged['DTOBITO']))
df_tempo = pd.DataFrame(x,columns=['DIA','MES','ANO'])

In [73]:
df_merged.reset_index(inplace=True)

In [74]:
df_merged = df_merged.join(df_tempo)

In [76]:
df_merged.drop(columns=['index','DTOBITO'],inplace=True)

In [77]:
df_merged

,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,OCUP,CODMUNRES,UF,Nome_UF,DIA,MES,ANO
0,40,1,1,1,3,1,512105,421160,42,Santa Catarina,25,01,2019
1,79,2,1,9,9,9,999993,352050,35,São Paulo,11,02,2019
2,23,2,4,1,2,1,998999,150618,15,Pará,25,01,2019
3,38,1,2,1,1,0,517420,311340,31,Minas Gerais,21,01,2019
4,39,1,1,5,4,3,411005,355030,35,São Paulo,01,01,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12976,25,1,5,0,4,3,998999,130370,13,Amazonas,16,03,2019
12977,14,2,5,0,3,2,998999,130370,13,Amazonas,19,05,2019
12978,20,1,5,0,9,9,998999,130406,13,Amazonas,25,08,2019
12979,20,1,5,0,4,3,998999,130406,13,Amazonas,23,05,2019
12980,14,2,5,0,9,9,998999,130406,13,Amazonas,14,09,2019